---
layout: default
title: Home
---

<h2 class="pb-4 mb-3 fst-italic border-bottom">
{% if site.lang == "ru" %}Блог, последние публикации{% endif %}
{% if site.lang == "rs" %}Blog, najnovije objave{% endif %}
{% if site.lang == "en" %}Blog, latest posts{% endif %}
</h2>

<p class="mb-4">
  <a class="btn btn-outline-primary" href="/services">
{% if site.lang == "ru" %}Все услуги{% endif %}
{% if site.lang == "rs" %}Sve usluge{% endif %}
{% if site.lang == "en" %}All services{% endif %}
  </a>
</p>

{% assign posts = site.posts | where_exp: "post", "post.type != 'kwork'" %}
{% for post in posts %}
  <article class="blog-post">
    <h3 class="link-body-emphasis mb-1"><a href="{{ post.url }}">{{ post.title }}</a></h3>
    <p class="blog-post-meta">{{ post.date | date: "%b %d" }}</p>
    {{ post.excerpt }}
  </article>
{% endfor %}

<!--
<nav class="blog-pagination" aria-label="Pagination">
  <a class="btn btn-outline-primary rounded-pill" href="#">Older</a>
    <a
      class="btn btn-outline-secondary rounded-pill disabled"
      aria-disabled="true"
      >Newer</a>
</nav>
-->
