<div class="container">
  <header class="d-flex flex-column flex-md-row justify-content-between align-items-md-center py-3 border-bottom gap-3">
    <a
      href="/"
      class="blog-header-logo h4 mb-0 text-body-emphasis text-decoration-none"
    >
      {{ site.title }}
    </a>
    <nav class="nav nav-pills gap-2">
      <a class="nav-link" href="/">
{% if site.lang == "ru" %}Главная{% endif %}
{% if site.lang == "rs" %}Početna{% endif %}
{% if site.lang == "en" %}Home{% endif %}
      </a>
      <a class="nav-link" href="/services/">
{% if site.lang == "ru" %}Услуги{% endif %}
{% if site.lang == "rs" %}Usluge{% endif %}
{% if site.lang == "en" %}Services{% endif %}
      </a>
      <a class="nav-link" href="/blog/">
{% if site.lang == "ru" %}Блог{% endif %}
{% if site.lang == "rs" %}Blog{% endif %}
{% if site.lang == "en" %}Blog{% endif %}
      </a>
    </nav>
  </header>
</div>
