<div class="header">
  <div class="container">
    <div class="logo">
      <a href="/">
        {% assign title_parts = site.title | split: " " %}
        {% if site.lang == "en" %}
          {% assign highlight_word = title_parts | last %}
          {% assign base_title = site.title | remove: highlight_word | strip %}
          {% if base_title != "" %}<span class="logo-rest">{{ base_title }}</span> {% endif %}<span class="logo-first">{{ highlight_word }}</span>
        {% else %}
          {% assign highlight_word = title_parts | first %}
          {% assign base_title = site.title | remove_first: highlight_word | strip %}
          <span class="logo-first">{{ highlight_word }}</span>{% if base_title != "" %} <span class="logo-rest">{{ base_title }}</span>{% endif %}
        {% endif %}
      </a>
    </div>
    <nav class="main-menu">
      <ul>
        <li><a href="/services/">{% if site.lang == "ru" %}Услуги{% endif %}{% if site.lang == "rs" %}Usluge{% endif %}{% if site.lang == "en" %}Services{% endif %}</a></li>
        <li><a href="/blog/">{% if site.lang == "ru" %}Блог{% endif %}{% if site.lang == "rs" %}Blog{% endif %}{% if site.lang == "en" %}Blog{% endif %}</a></li>
        <li><a href="/#works">{% if site.lang == "ru" %}Кейсы{% endif %}{% if site.lang == "rs" %}Projekti{% endif %}{% if site.lang == "en" %}Work{% endif %}</a></li>
        <li><a href="/#contact">{% if site.lang == "ru" %}Контакт{% endif %}{% if site.lang == "rs" %}Kontakt{% endif %}{% if site.lang == "en" %}Contact{% endif %}</a></li>
      </ul>
    </nav>
  </div>
</div>
