<div class="col-md-4">
          <div class="position-sticky" style="top: 2rem">
<!--
            <div class="p-4 mb-3 bg-body-tertiary rounded">

              <h4 class="fst-italic">About</h4>
              <p class="mb-0">
                Customize this section to tell your visitors a little bit about
                your publication, writers, content, or something else entirely.
                Totally up to you.
              </p>

            </div>
-->
            <div>
              <h4 class="fst-italic">
{% if site.lang == "ru" %}Дополнительные услуги{% endif %}
{% if site.lang == "rs" %}Dodatne usluge{% endif %}
{% if site.lang == "en" %}Additional services{% endif %}
                  
                
                </h4>
              <ul class="list-unstyled">
                <li>
                  <a
                    class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                    href="/n8n"
                  >
            <img src="/img/n8n.png" style="height:96px; width: 96px" class="bd-placeholder-img" alt="...">

                  <!--
                    <svg
                      aria-hidden="true"
                      class="bd-placeholder-img"
                      height="96"
                      preserveAspectRatio="xMidYMid slice"
                      width="100%"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <rect width="100%" height="100%" fill="#777"></rect>
                    </svg>
                    -->
                    <div class="col-lg-8">
                      <h6 class="mb-0">
{% if site.lang == "ru" %}N8N автоматизация бизнес-процессов{% endif %}
{% if site.lang == "rs" %}N8N automatizacija poslovnih procesa{% endif %}
{% if site.lang == "en" %}N8N business process automation{% endif %}                           
                        </h6>
                      <!--<small class="text-body-secondary"
                        >January 15, 2024</small
                      >-->
                    </div>
                  </a>
                </li>
                <li>
                  <a
                    class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                    href="/legacy"
                  >
                               <img src="/img/legacy.png" style="height:96px; width: 96px" class="bd-placeholder-img" alt="...">

                    <div class="col-lg-8">
                      <h6 class="mb-0">
{% if site.lang == "ru" %}Доработка и оптимизация legacy-системы на Perl{% endif %}
{% if site.lang == "rs" %}Dorada i optimizacija legacy sistema na Perl‑u{% endif %}
{% if site.lang == "en" %}Enhancement and optimization of a legacy system in Perl{% endif %}                           
                        </h6>
                    <!--<small class="text-body-secondary"
                        >January 14, 2024</small
                      >
                      -->
                    </div>
                  </a>
                </li>
                <li>
                  <a
                    class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                    href="/jekyll"
                  >
                                                   <img src="/img/jekyll.png" style="height:96px; width: 96px" class="bd-placeholder-img" alt="...">

                    <div class="col-lg-8">
                      <h6 class="mb-0">
{% if site.lang == "ru" %}Разработка быстрого статического сайта на Jekyll, бесплатный хостинг{% endif %}
{% if site.lang == "rs" %}Razvoj brzog statičkog sajta na Jekyll‑u, besplatan hosting{% endif %}
{% if site.lang == "en" %}Development of a fast static website on Jekyll with free hosting{% endif %}                       
                        
                      </h6>
                      <!--<small class="text-body-secondary"
                        >January 13, 2024</small
                      >-->
                    </div>
                  </a>
                </li>
              </ul>
            </div>
            
            <div class="p-4">
              <h4 class="fst-italic">
{% if site.lang == "ru" %}Последние публикации{% endif %}
{% if site.lang == "rs" %}Najnovije objave{% endif %}
{% if site.lang == "en" %}Latest publications{% endif %}
                </h4>
              <ol class="list-unstyled mb-0">

{% for post in site.posts limit:7 %}

                <li><a href="{{ post.url }}">{{ post.title }}</a></li>

{% endfor %}

              </ol>
            </div>
            


            <!--
            <div class="p-4">
              <h4 class="fst-italic">Elsewhere</h4>
              <ol class="list-unstyled">
                <li><a href="#">GitHub</a></li>
                <li><a href="#">Social</a></li>
                <li><a href="#">Facebook</a></li>
              </ol>
            </div>
            -->
          </div>
        </div>